<div class="row">
  <div class="col m-auto">
    <div id="carousel-controles" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="height: 500px; width: 500px;" src="./assets/img-pc.PNG" class="img-fluid">
        </div>
        <div class="carousel-item">
          <img style="height: 500px; width: 500px;" src="./assets/img-note.png" class="img-fluid">
        </div>
        <div class="carousel-item">
          <img style="height: 500px; width: 500px;" src="./assets/img-cadeiras.PNG" class="img-fluid">
        </div>
      </div>
      <a href="#carousel-controles" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#carousel-controles" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
<h2>Bits Informática - Cadeiras Gamer!</h2>
<div class="container">
  <div class="row" style="margin-left: 30px;">
    <div class="col" *ngFor="let produto of produtos">
      <section style="max-height: 500px; max-width: 500px;">
        <article style="max-height: 500px; max-width: 500px;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="produto.imagem" alt="Imagem de capa do card" style="max-height: 250px; max-width: 250px; padding-bottom: 60px;">
            <div class="card-body">
              <h5 class="card-title">{{produto.titulo}}</h5>
              <p class="card-text">{{produto.descricao}}</p>
              <p class="card-text">{{produto.valor}}</p>
              <a class="btn btn-primary" [routerLink]="['/produto', produto.id]">Confira aqui</a>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>