<!--<h4>Computadores e Notebooks em destaque</h4>
<section style="padding: 5px 100px;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: 0px; margin-left: 0px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
  </div>
</section>-->
<div class="container">
  <div class="row">
    <div class="col m-auto">
      <div id="carousel-controles" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img style="height: 500px; width: 500px;" src="./assets/img-pc.PNG" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img style="height: 500px; width: 500px;" src="./assets/img-note.png" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img style="height: 500px; width: 500px;" src="./assets/img-cadeiras.PNG" class="img-fluid">
          </div>
        </div>
        <a href="#carousel-controles" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#carousel-controles" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
  <h2>Bits Informática - Computadores, Notebooks e muito mais!</h2>
  <div class="row" style="margin-left: 30px;">
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img-pc.PNG" alt="Imagem de capa do card" style="max-height: 250px; max-width: 250px; padding-bottom: 60px;">
        <div class="card-body">
          <h5 class="card-title">Computador</h5>
          <p class="card-text">Computadores ideais para seu estudos.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img-note.png" alt="Imagem de capa do card" style="max-height: 250px; max-width: 250px; padding-bottom: 60px;">
        <div class="card-body">
          <h5 class="card-title">Notebooks</h5>
          <p class="card-text">Notebooks ideais para seu estudos e trabalho.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/img-cadeiras.PNG" alt="Imagem de capa do card" style="max-height: 250px; max-width: 250px; padding-bottom: 60px;">
        <div class="card-body">
          <h5 class="card-title">E muito mais!</h5>
          <div style="padding-bottom: 48px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>