<!--<h4>Computadores e Notebooks em destaque</h4>
<section style="padding: 5px 100px;">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: 0px; margin-left: 0px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="" alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
  </div>
</section>-->
<h2>Bits Informática - Computadores, Notebooks e muito mais!</h2>
<div class="container">
  <div class="row" style="margin-left: 30px;">
    <div class="col" *ngFor="let produto of produtos">
      <section style="max-height: 500px; max-width: 500px;">
        <article style="max-height: 500px; max-width: 500px;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="produto.imagem" alt="Imagem de capa do card" style="max-height: 250px; max-width: 250px; padding-bottom: 60px;">
            <div class="card-body">
              <h5 class="card-title">{{produto.titulo}}</h5>
              <p class="card-text">{{produto.descricao}}</p>
              <!--
              <a class="btn btn-primary" [routerLink]="[]">Clique aqui</a>-->
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
  <!--
  <div class="col-6">
    <section>
      <article>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/img-note.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Notebooks</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            <a href="#" class="btn btn-primary" routerLink="notebooks">Confira</a>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
<div style="margin-bottom: 200px;"></div>
<div class="row" style="margin-left: 30px;">
  <div class="col-6">
    <section>
      <article>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/img-cadeiras.PNG" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Cadeiras Gamer</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            <a href="#" class="btn btn-primary" routerLink="cadeiras-gamer">Confira</a>
          </div>
        </div>
      </article>
    </section>
  </div>
  <div class="col-6">
    <section>
      <article>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/img-teclado.PNG" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Acessórios</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
            <a href="#" class="btn btn-primary" routerLink="acessorios">Confira</a>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>-->